*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.gradle 
/local.properties 
/.idea/workspace.xml 
/.idea/libraries 
/.idea 
.DS_Store 
build/ 
captures/ 
*.iml 
*.imi 
.svn 
.externalNativeBuild

